h1 {
  font-size: 60px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 2px 2px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}



p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: Open+Sans; /* здесь должно быть имя шрифта из Google fonts */
}
html {
  background-color: #b2c4d4;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #efeae3;
  padding: 0 20px 20px 20px;
  border: 2px solid rgb(55, 46, 223);
}
